/* body{
    background-color: blueviolet;
    background-image: url(../imagens/b408fcc9cba2c0034738b28c872242ba.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* body{
    background: blueviolet url(../imagens/b408fcc9cba2c0034738b28c872242ba.jpg) no-repeat fixed center/ cover;
} */

/* h1{
    /* display: block;

    width:250px;
    height:50px;

    background: blueviolet;

    border: 2px solid; */

    /* padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 50px; */

body{
    background: rgb(5, 132, 201)
}
 main{
    width: 1000px;
    margin: 60px auto;
    border: 2% solid blue;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 10px;
}
img{
    width: 95%;
    height: 95%;
    margin: 20px auto;
    display: block;
    border-radius: 20px;

}
a{
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(5, 132, 201);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin: 15px;
}
a:hover{
    color: black;
}